<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Destiny App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="destiny-app">

    <div class="card blue">
        <img src="https://swdestinydb.com/bundles/cards/en/01/01038.jpg">


        <div class="health">
            <v3 v-if="health===10">10</v3>
        </div>


        <div class="rarity rare">
            <h3 v-if="setNumber===100">100</h3>
        </div>

        <div class="name">
            <h3 v-if="name==='rey'">Rey</h3>
        </div>


        <div class="affl villain"><h3 v-if="affl">hero</h3>

        </div>

    </div>
</div>


<br>


<div id="destiny-app">

    <div class="card yellow">
        <img src="http://images-cdn.fantasyflightgames.com/filer_public/3b/15/3b1513ab-1bf2-46f9-93ec-9fb0246e567b/sws17_main.png">


        <div class="health">
            <v3 v-if="health===10">10</v3>
        </div>


        <div class="rarity rare">
            <h3 v-if="setNumber===36">36</h3>
        </div>

        <div class="name">
            <h3 v-if="name==='han soto'">General Grievous</h3>
        </div>


        <div class="affl villain"><h3 v-if="affl">hero</h3>

        </div>

    </div>
</div>

<br>


<div id="destiny-app">

    <div class="card red">
        <img src="https://i.pinimg.com/originals/67/fe/ca/67feca5ed7040713e386d568860701a8.jpg">


        <div class="health">
            <v3 v-if="health===13">13</v3>
        </div>


        <div class="rarity rare">
            <h3 v-if="setNumber===50">50</h3>
        </div>

        <div class="name">
            <h3 v-if="name==='General Grievous'">General Grievous</h3>
        </div>


        <div class="affl villain"><h3 v-if="affl">villain</h3>

        </div>

    </div>
</div>

<br>

<div id="destiny-app">

    <div class="card green">
        <img src="http://images-cdn.fantasyflightgames.com/filer_public/70/2d/702dba51-4b9f-46db-ad74-36216b9fdbe9/swd13_preview2.jpg">


        <div class="health">
            <v3 v-if="health===11">11</v3>
        </div>


        <div class="rarity rare">
            <h3 v-if="setNumber===5">5</h3>
        </div>

        <div class="name">
            <h3 v-if="name==='Darth Vader'">Darth Vader</h3>
        </div>


        <div class="affl villain"><h3 v-if="affl">villain</h3>

        </div>


</div>

<script src="app.js"></script>

</body>
</html>